[submodule "deps/NeuralAmpModelerCore"]
	path = deps/NeuralAmpModelerCore
	url = https://github.com/mikeoliphant/NeuralAmpModelerCore
[submodule "deps/RTNeural"]
	path = deps/RTNeural
	url = https://github.com/mikeoliphant/RTNeural
[submodule "deps/RTNeural-NAM"]
	path = deps/RTNeural-NAM
	url = https://github.com/mikeoliphant/RTNeural-NAM
	branch = no_deps
